body {
  background-color: #F5F5F5;
}

#container {
  background-color: #FFF;
  margin-top: 15px;
  padding: 45px;
  border: .4px solid #555;
  border-radius: 5px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.5);
}

#footer {
  margin-top: 2px;
  margin-bottom: 50px;
  font-size: 10px;
}

#footer p {
  float: right;
  margin-right: 50px;
  opacity: .7;
}